{% extends 'base.jinja2' %}
{% from 'component/header.jinja2' import header %}
{% from 'component/map_modal.jinja2' import map_modal %}

{% block title %}
    Редактор дорог
{% endblock %}

{% block body %}
    {{ header(0) }}

    <div class="flex">
        <div class="p-10 box-border w-full">
            <form action="" class="flex flex-wrap gap-4">
                <h2 class="basis-full">Создание точки</h2>
                <input class="focus:ring-2 focus:ring-blue-500 focus:outline-none appearance-none text-sm leading-6
                              text-slate-900 placeholder-slate-400 rounded-md py-2 pl-4 ring-1 ring-slate-200 shadow-sm
                              grow shrink basis-33-minus-1rem"
                       type="number" placeholder="Широта">
                <input class="focus:ring-2 focus:ring-blue-500 focus:outline-none appearance-none text-sm leading-6
                              text-slate-900 placeholder-slate-400 rounded-md py-2 pl-4 ring-1 ring-slate-200 shadow-sm
                              grow shrink basis-33-minus-1rem"
                       type="number" placeholder="Долгота">
                <button type="submit" class="px-6 py-2 bg-green-500 rounded-md text-white">Создать точку</button>
            </form>
            <form action="" class="flex flex-wrap gap-4 mt-4">
                <h2 class="basis-full">Создание дороги</h2>
                <input class="focus:ring-2 focus:ring-blue-500 focus:outline-none appearance-none text-sm leading-6
                              text-slate-900 placeholder-slate-400 rounded-md py-2 pl-4 ring-1 ring-slate-200 shadow-sm
                              grow shrink basis-33-minus-1rem"
                       type="number" placeholder="ID точки начала дороги">
                <input class="focus:ring-2 focus:ring-blue-500 focus:outline-none appearance-none w-1/3 text-sm
                              leading-6 text-slate-900 placeholder-slate-400 rounded-md py-2 pl-4 ring-1 ring-slate-200
                              shadow-sm grow shrink basis-33-minus-1rem"
                       type="number" placeholder="ID точки конца дороги">
                <button type="submit" class="px-6 py-2 bg-green-500 rounded-md text-white">Создать дорогу</button>
            </form>
            <div>
                <table class="mt-4 w-full border-collapse">
                    <caption class="text-xl font-medium p-4">Дороги</caption>
                    <tr class="border-b">
                        <th>№</th>
                        <th>ID точки начала дороги</th>
                        <th>ID точки конца дороги</th>
                        <th></th>
                    </tr>
                    {% for road in roads %}
                        <tr class="border-b py-4">
                            <td id="number-{{ road.id }}">{{ road.id }}</td>
                            <td contenteditable="true" id="road-start-{{ road.id }}">{{ road.point_0_id }}</td>
                            <td contenteditable="true" id="road-end-{{ road.id }}">{{ road.point_1_id }}</td>
                            <td>
                                <button id="btn-{{ road.id }}"
                                        class="px-6 py-2 bg-yellow-500 rounded-md text-white"
                                        onclick="fetchPost(this)">Редактировать
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

    {{ map_modal(map_path) }}
{% endblock %}
