{% macro header(active) %}
    <header>
        <nav class="flex w-full bg-blue-600">
            <h2 class="p-3 font-semibold text-slate-900 text-white mr-5 ml-5">Tripper</h2>
            <ul class="navbar">
                <li class="p-3 hover:bg-blue-500 text-white">
                    <a href="/cities">Редактор знаний</a>
                </li>
                <li class="p-3 hover:bg-blue-500 text-white">
                    <a href="#">Редактор данных</a>
                    <ul class="subnavbar">
                        <li class="p-3 bg-blue-600 hover:bg-blue-500 text-white">
                            <a href="">1</a>
                        </li>
                        <li class="p-3 bg-blue-600 hover:bg-blue-500 text-white">
                            <a href="">2</a>
                        </li>
                        <li class="p-3 bg-blue-600 hover:bg-blue-500 text-white">
                            <a href="">3</a>
                        </li>
                    </ul>
                </li>
                <li class="p-3 hover:bg-blue-500 text-white">
                    <a href="#">Редактор задач</a>
                    <ul class="subnavbar">
                        <li class="p-3 bg-blue-600 hover:bg-blue-500 text-white">
                            <a href="">4</a>
                        </li>
                        <li class="p-3 bg-blue-600 hover:bg-blue-500 text-white">
                            <a href="">5</a>
                        </li>
                        <li class="p-3 bg-blue-600 hover:bg-blue-500 text-white">
                            <a href="">6</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
{% endmacro %}
